.games-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.game-item {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  margin: 0;
}

.game-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 10px;
}

.game-details {
  display: flex;
}

.game-title {
  font-size: 1.5em;
  margin: 0 0 20px 0;
}

.game-description {
  font-size: 1em;
  color: #555;
  margin: 0 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}